{% extends 'superadmin/base.html' %}
{% block title %}Division{% endblock title %}
{% block content %}
<h2 class="mt-5">Division</h2>
<div class="row mt-5">
    
    <div class="col-md-6">
        
        <form>
            {% comment %} <div class="form-group">
                <label for="course_id">Course id</label>
                <input type="text" name="course_id" id="course_id" placeholder="Enter course id" class="form-control" />

            </div> {% endcomment %}

            <div class="form-group">
                <label for="course">Course </label>
                <select name="course" class="form-control">
                    <option value="1">All</option>
                    <option value="2">Course 2</option>
                    <option value="3">Course 3</option>
                    <option value="4">Course 4</option>
                    <option value="4">Course 4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="year">Year</label>
                <select name="year" class="form-control">
                    <option value="1">All</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="division">Division</label>
                <input type="text" name="division" id="division" placeholder="Enter division" class="form-control" />

            </div>

            <div class="form-group">
               
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <div class="card-header">
               <div class="card-title">
                  <span class="card-icon">
                  <i class="flaticon2-psd text-primary"></i>
                  </span>
                  <h3 class="card-label">Division</h3>
               </div>
               
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!--begin: Datatable-->
                    <table class="table table-bordered table-hover table-checkable" id="example" style="margin-top: 13px !important">
                        <thead>
                        <tr>
                            <th>SR NO</th>
                            <th>Course id</th>
                            <th>Course</th>
                            <th>Year</th>
                            <th>Division</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                
                            </tr>
                                            
                                        
                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>
            </div>
        </div>    
        
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script> 
    $('#example').DataTable();
</script>
{% endblock scripts %}