{% extends 'superadmin/base.html' %}
{% block title %}Subject{% endblock title %}
{% block content %}
<h2 class="mt-5">Subject</h2>



<div class="row mt-5">
    
    <div class="col-md-6">
        
        <form action = "{% url 'AddSubject' %}" class="form" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for items in classroom %}
            <div class="form-group">
                <label for="course">Course </label>
                <select name="course" class="form-control">
                    {% for item in details %}
                    <option {% if item.course_name == items.course_name %} selected {% endif %}>{{item.course_name}}</option>
					{% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="year">Year</label>
                <input type = "text" name = "year" id = "year" class = "form-control" placeholder = "Enter Year" value="{{items.course_year}}">
            </div>

            <div class="form-group">
                <label for="division">Division</label>
                <input type = "text" name = "division" id = "division" class = "form-control" placeholder = "Enter Division" value="{{items.course_division}}">
            </div>

            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" placeholder="Enter Subject" class="form-control" value="{% for subject in items.course_subject %}{{subject}},{% endfor %}" />
            </div>
            <input type="hidden" name="classroom_id" value="{{items.ClassRoom_id}}"/>
            {% endfor %}
            <div class="form-group">
                <input type="hidden" name="method" value="{{method}}"/>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>


{% endblock content %}
{% block scripts %}
<script> 
    $('#example').DataTable();
</script>
{% endblock scripts %}