{% extends 'superadmin/base.html' %}
{% block title %}Uplaod Files{% endblock title %}
{% block content %}

 <!--begin::Card-->
 <div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Generate Teacher Accounts</h3>
        </div>
    </div>
    <!--begin::Form-->
    <form action= "{% url 'teacher_account_generations' %}", method = "POST", enctype="multipart/form-data">
        {% csrf_token %}
        {{form.docfile}}
        <div class="form-group">
            <label for="subject">UPLOAD TEACHER CSV FILE [PRN, EMAIL]</label>
            <input type ="file" name = "teacher_account" placeholder="Enter CSV file ONLY" class="form-control"></input>
        </div> 
       
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                    <button type="reset" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Card-->
{% endblock content %}
{% block scripts %}
<script> 
  
</script>
{% endblock scripts %}