<!--begin::Menu-->
<div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
    <!--begin::Nav-->
    <ul class="menu-nav">
        <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="menu-text">Dashboard</span>
                <i class="menu-arrow"></i>
            </a>
            {% comment %} <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                <ul class="menu-subnav">
                    <li class="menu-item menu-item-active" aria-haspopup="true">
                        <a href="index.html" class="menu-link">
                            <span class="menu-text">Application</span>
                            <span class="menu-desc"></span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a target="_blank" href="https://preview.keenthemes.com/metronic/demo10/builder.html" class="menu-link">
                            <span class="menu-text">Layout Builder</span>
                            <span class="menu-desc"></span>
                        </a>
                    </li>
                </ul>
            </div> {% endcomment %}
        </li>
        <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="menu-text">Records</span>
                <span class="menu-desc"></span>
                <!-- <i class="menu-arrow"></i> -->
            </a>
            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                <ul class="menu-subnav">
                    <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="javascript" class="menu-link menu-toggle">
                            <span class="svg-icon menu-icon">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg> 
                                <!-- end::Svg Icon -->
                            </span>
                            <span class="menu-text">New group</span>
                            <i class="menu-arrow"></i>
                        </a>

                        <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                            <ul class="menu-subnav">
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'student_account_generations' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Class Room</span>
                                    </a>
                                </li>

                                {% comment %} <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'student_account_generations' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Teacher</span>
                                    </a>
                                </li> {% endcomment %}
                            </div>	
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <span class="menu-text">Tables</span>
                    <span class="menu-desc"></span>
                    <!-- <i class="menu-arrow"></i> -->
                </a>
                <!-- <div class="menu-submenu menu-submenu-classic menu-submenu-left"> -->
                    <!-- <ul class="menu-subnav"> -->
                    
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'ViewCourse' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Course</span>
                                    </a>
                                </li>

                                {% comment %} <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'Year' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Year</span>
                                    </a>
                                </li>

                                <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'Division' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Division</span>
                                    </a>
                                </li> {% endcomment %}

                                <li class="menu-item" aria-haspopup="true">
                                    <a href="{% url 'Subject' %}" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Class Room</span>
                                    </a>
                                </li>

                            </div>	
                        
                        </a>
                    <!-- </ul> -->
                <!-- </div> -->
        
            </li>					
            
            
        
    </ul>
    <!--end::Nav-->
</div>
<!--end::Menu-->